################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RedirectProxyGui/.vs/RedirectProxyGui
/RedirectProxyGui/obj
